<mat-form-field class="app-full-width" appearance="fill">
  <mat-label></mat-label>
  <input *ngIf="enterAction!=''" type="{{inputType}}" matInput [formControl]="formControl" [errorStateMatcher]="matcher"
    placeholder="" [enter]="formInstanz" [action]="enterAction" (focus)="focusAction($event)">

  <input *ngIf="enterAction==''" type="{{inputType}}" matInput [formControl]="formControl" [errorStateMatcher]="matcher"
    placeholder="" (focus)="focusAction($event)">
    
  <mat-error *ngIf="formControl.invalid">
    {{getErrorMessage()}}
  </mat-error>
</mat-form-field>