<mat-card>
    <mat-card-title>Csv Dateien</mat-card-title>    
    <div>
      <files-upload [formInstanz]="instanz" sendAction='uploadFile' [uploadFileTypes]="uploadFileTypes" [maxUploadFileSize]="maxUploadFileSize"></files-upload>
    </div>
    <mat-card-subtitle>Dateien</mat-card-subtitle>
    <mat-card-actions >        
        <button *ngFor="let item of csvs" mat-button   (click)="openCsv(item)">{{item}}</button>            
    </mat-card-actions>
    <br>
    <mat-card-subtitle>Diagramm</mat-card-subtitle>
    <div style="display: block; background-color: white;">
      <canvas baseChart width="400" height="200" 
                  [data]="lineChartData"
                  [options]="lineChartOptions"
                  [type]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
  </mat-card>
  