<mat-card>
    <mat-card-title>Csv Dateien</mat-card-title>
    <mat-card-subtitle>Dateien</mat-card-subtitle>
    <mat-card-actions >
        <div *ngFor="let item of csvs">
            <button mat-button  (click)="openCsv(item)">{{item}}</button>
        </div>      
    </mat-card-actions>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-title>Diagramme</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-actions align="end">
      <button mat-button>Like</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>